* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/imagem-fundo.png");
    background-size: cover;
    height: 90vh;
}

main {
    display: flex;
    height: 100%;
    margin: 2rem;
}

/*branco*/
.left {
    background-color: #000000;
    height: 100%;
    width: 50%;
}

.icons-h2 {
    display: flex;
} 

.card {
    width: 90%;
    height: 20%;
    background-color: var(--grey);
    border-radius: 15px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
}

.card img {
    margin: 0.5rem;
    height: 80%;
}

.container-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 70%;
    gap: 1rem;
}

.price {
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 1.5rem;
    margin: 0.5rem;
}


/*Preto*/
.right {
    background-color:rgb(255, 255, 255);
    height: 100%;
    width: 50%;
}

.header {
    display: flex;
    color: #f4f4f4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.h2-header {
    margin-right: 80%;
    padding: 3%;
}

.h4-header {
    margin: 2% 0 0 0 ;
}

.h2-information {
    color:#f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10% 50% 0 4% ;
    border-bottom: 5px solid rgb(255, 255, 255);
}

.container-cartão {
    display: flex;
    flex-direction: row-reverse;
    height: 45vh;
    margin: 5% 5% 0 5% ;
}

.logotipo {
    display: flex;
    flex-direction: column;
}

.footer-black {
    display: flex;
    color: #f4f4f4;
}

