* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;

    width: 120vh;
    height: 50rem;
    
}

/*branco*/
.left {
    width: 50%;
    height: 100%;
    background-color: rgb(128, 128, 128);
}

.right {
    width: 50%;
    height: 100%;
    background-color: rgb(39, 39, 39);
}

.icons-h2 {
    display: flex;
    justify-content: space-between;
}

/*PRODUTOS E INFORMAÇÕES*/
.bag {
    display: flex;
    flex-direction: column;
    background-color: #faead6;
    height: 90%;
    border-radius: 5px;
    gap: 10px;
}

.card-1 {
    height: 10rem;
    width: 50rem;
    background-color: #c4c4c4;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.left-img{
    width: 30%;
    display: flex;
    justify-content: center;
    
}

.produto-tenis {
    margin: 0.5rem;
    height: 100%;
}

.container-card {
    width: 70%;
    flex-wrap: wrap-reverse;
    border-left: 1px solid ;
   
}

.container-card p{
   font-weight: 900;
}

.descricao {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.info{
    display: flex;
}

.titulo{
    margin-left: 3rem;
     width: 80%;
     margin-bottom: 30px;
}